<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1></h1>

<span data-th-text="${brevet.name}"></span>

<a href="@{{url}(ulr=${brevet.link_map})}" title="${brevet.name}"><img src="//www.gpsies.com/images/linkus.png" border="0" alt="GPSies - Сентябрь бревет 200"></a>

<a href="https://www.gpsies.com/map.do?fileId=yhcnunezuurwxchc" title="GPSies - Сентябрь бревет 200"><img src="//www.gpsies.com/images/linkus.png" border="0" alt="GPSies - Сентябрь бревет 200" /></a>
</body>
</html>