<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title='Список бреветов')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12"></div>
        <h1>Список проведенных бреветов</h1>

        <ul class="collection">
            <li data-th-each="brevet : ${main}" class="collection-item">
                <a data-th-href="@{/main/{id}(id=${brevet.id})}">
                    <span data-th-text="${brevet.name}"></span>
                </a>
            </li>
        </ul>

        <p></p>
        <ul class="collection">
            <li class="collection-item"><a href="/main/page-results">Список участников</a></li>
            <li class="collection-item"><a href="/main/external-links">Рекомендуемые ссылки</a></li>
        </ul>
        </p>
    </div>
</div>


<!--<form data-th-action="@{/search}">-->
<!--<input name="name" type="search" class="item-search" data-th-value="${name}">-->
<!--<button type="submit">Go</button>-->
<!--</form>-->


</body>
</html>