<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
<h1>Список проведенных бреветов</h1>

<ul class="collection">
    <li data-th-each="brevet : ${main}" class="collection-item">
        <a data-th-href="@{/main/{id}(id=${brevet.id})}">
        <span data-th-text="${brevet.name}"></span>
        </a>
    </li>



</ul>

</body>
</html>